
@{
    ViewData["Title"] = "Admin";
}


<link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<div class="admin-container flex flex-dir-col flex-just-cont-space-a">
    <div class="admin-nav">
        <a class="btn btn-primary" asp-action="ChangeRole" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Panel">Modify user</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="AlterMenu">Modify Menu</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="AllOrders">Show orders</a>
    </div>

    <div id="Panel"></div>
</div>