@model List<Inlämning_2___Webshop.ViewModels.MealData>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

@* ALTER MENU MENU  *@

<a class="btn btn-primary" asp-controller="Admin" asp-action="GetMenu" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#InnerPanel">Modify menu</a>
<a class="btn btn-primary" asp-controller="Admin" asp-action="AddMeal" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#InnerPanel">Add new meal</a>
<a class="btn btn-primary" asp-controller="Admin" asp-action="GetIngredients" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#InnerPanel">Modify ingredients</a>

<div id="InnerPanel"></div>
