@model List<Inlämning_2___Webshop.Models.Matratt>

<h3>Du har beställt: </h3>

<table>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.MatrattNamn</td>
            <td>@product.Pris SEK</td>
            <td><a asp-action="RemoveFromCart" asp-route-matratt="@product">Remove</a></td>
        </tr>
    }

    <tr>
        <td>Totalsumma: </td>
        <td>@Model.Sum(p => p.Pris) SEK</td>
    </tr>
</table>
