@using Microsoft.AspNetCore.Identity
@using Inlämning_2___Webshop.IdentityData;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model Inlämning_2___Webshop.ViewModels.UserRoleViewModel

<link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" />
<div class="userlist-container flex flex-dir-row flex-just-cont-c">
    <div>
        <table class="userlist">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><a class="btn btn-primary" asp-action="GetUserData" asp-route-id="@user.Id" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#ProfilePanel">Get user information</a></td>
                </tr>
            }
        </table>
    </div>

    <div id="ProfilePanel"></div>
</div>