@model List<Inlämning_2___Webshop.ViewModels.MealData>
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<div class="flex-container">
    <div id="productlist">
        @foreach (var recipe in Model)
        {
            <div class="recipe-container">
                <div class="recipe-flex-container">
                    <div class="flex-left">
                        <h4>@recipe.Matratt.MatrattNamn</h4>
                    </div>
                    <div class="flex-right">
                        <p class="menu-price">@recipe.Matratt.Pris SEK</p>
                        <a class="btn btn-primary add-to-cart" asp-controller="Store" asp-action="AddProductToCart" asp-route-id="@recipe.Matratt.MatrattId" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#cart">Add to cart</a>
                    </div>
                </div>
                <div class="recipe-container-ingredients">
                    @foreach (var ingredient in recipe.Ingredients)
                    {
                        <p>@ingredient.ProduktNamn</p>
                    }
                </div>
            </div>
        }
    </div>
    <div id="cart"></div>
</div>