@model Inlämning_2___Webshop.ViewModels.OrdersMatrattViewModel

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<table>
    @foreach (var order in Model.OrderData)
    {
        <tr>
            <td>Order date: @order.BestallningDatum</td>
            <td>@order.Totalbelopp</td>
            <td>Delivery status:
            @if (order.Levererad.Equals(false))
            {
                <span>On the way</span>
            } else
            {
                <span>Delivery completed</span>
            }
            </td>
            <td><a asp-action="RemoveOrder" asp-controller="User" asp-route-orderid="@order.BestallningId" class="btn btn-danger btn-sm">Remove Order</a></td>
        </tr>
    }
</table>