@model ApplicationUser

@using Microsoft.AspNetCore.Identity;
@using Inlämning_2___Webshop.IdentityData;

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "View Profile";
}

<div class="profile-container">
    <img class="profile-photo clip-circle" src="~/img/profilepic1.png"/>
    <h2>@Model.UserName</h2>
    <p>@Model.Email</p>
</div>